doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title <%= appName %>
    meta(name='description', content='<%= appDescription %>')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- meta(name='robots', content='noindex,nofollow')

    link(rel='icon', href='/favicon.png', type='image/png')
    link(rel='stylesheet', href='/styles/main.css')

  body

    h1 Welcome

    script(src='/scripts/vendor.js')
    script(src='/scripts/main.js')
